@charset "utf-8";
/* CSS Document */

body {
	background-color: #d2e7e9;
	
	font-family: "Bahnschrift, Tahoma";
	margin:0;
}
#top {	
	display:flex;
	justify-content: space-between;	
	align-content:center;
	margin-top:4%;
	margin-bottom:4%;
	font-size:26px;
	font-family:Bahnschrift;
	margin-right:33%;
	margin-left:33%;
}
.top-img {
	align-content: flex-end;
	height:35px;
	text-decoration: none;
}
.bar{
	border-top: 3px solid black;
	width:50%;
	margin-top:-50px;
	margin-bottom:100px;
}
#fresh {
	font-family:Bahnschrift;
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
}
#fresh h1{
	margin-top:5%;
	font-size:39px;
}
#fresh p{
	font-size:30px;
	width:70%;
}
#fresh img{
	width:250px;
	display:flex;
	margin-top:15%;
	margin-bottom:20%;
}
a{
	margin-top:1.50%;
}
a:link {
	color:black;
	text-decoration: none;
}
a:visited{
	color:black;
}
a:hover {
	color:#777777;
}
.main-content {
	display:flex;	
	height:800px;
}
#cake img{
	height: 800px;
}
.cakecup{
	margin-left: 20px;
	margin-right: 20px;
	display:flex;
	margin-bottom:4%;
	
}

@media screen and (max-width:500px) {
	.cakecup{
		flex-wrap: wrap;
		flex-direction: column;
		margin:0;
		align-items:center;
	}
	#cake img{
		height:600px;
		width:460px;
	}
	
	#top{
		width:100%;
		margin:0;
		padding:0;
	}
	.socials img{
		margin:0;
		
	}
	.bar{
		width:100%;
		margin:0;
		padding:0;
	}
	#fresh{
		margin-bottom:20px;
	}
	.socials a {
		margin:0;
	}
}
@media screen and (max-width:1485px) {
	.cakecup{
		
		margin:0;
		align-items:center;
	}
	#cake img{
		height:600px;
		width:460px;
	}
	
	#top{
		width:100%;
		margin:0;
		padding:0;
	}
	.socials img{
		margin:0;
		
	}
	.bar{
		width:100%;
		margin:0;
		padding:0;
	}
	#fresh{
		margin-bottom:20px;
	}
	.socials a {
		margin:0;
	}
	footer{
	margin-bottom:0;
		
	}
}

@media screen and (max-width:1190px) {
	.cakecup{
	flex-wrap:wrap;
		flex-direction: column;
		margin:0;
		align-items:center;
	}
	#cake img{
		height:600px;
		width:460px;
	}
	
	#top{
		width:100%;
		margin:0;
		padding:0;
	}
	.socials img{
		margin:0;
		
	}
	.bar{
		width:100%;
		margin:0;
		padding:0;
	}
	#fresh{
		margin-bottom:20px;
	}
	.socials a {
		margin:0;
	}
	footer{
	margin-bottom:0;
	}
}

@media screen and (max-width:500px) {
	.main-content{
		flex-wrap:wrap;
		flex-direction:column;
		margin:0;
	}
	#thebaker p{
		font-size:25px;
	}
	.content-image img{
		height:250px;
		
	}
}

@media screen and (max-width:900px) {
	.main-content{
		
		margin:0;
	}
	#thebaker p{
		font-size:25px;
	}
	.content-image img{
		height:250px;
		
	}
}

@media screen and (max-width:1190px) {
	.main-content{
		flex-wrap:wrap;
		flex-direction:column;
		margin:0;
	}
	#thebaker p{
		font-size:45px;
	}
	.content-image img{
		height:500px;
		margin-left:380px;
	}
}

@media screen and (max-width:1000px) {
	.main-content{
		flex-wrap:wrap;
		flex-direction:column;
		margin:0;
	}
	#thebaker p{
		font-size:25px;
	}
	.content-image img{
		height:400px;
		margin-left:39%;
	}
}

	
.content-image{
	margin-right:7%
}
#meetthebaker {
	height:35%;
	font-family: Tahoma;
	font-size: 30px;
	margin-top:-3.5%;
}

#thebaker{
	font-family: Bahnschrift;
	font-size: 32px;
	height:65%;
	text-align: center;
	margin-left:10%;
	margin-right:10%;
}
#text-wrapper{
	text-align: center;
}
#main-content{
	display:flex;
}
.socials{
	display:flex;
}
.socials-icons img, a{
	height:40px;
}


footer {
	display: flex;
	justify-content: center;
	background-color: #8ec3c7;
}
.bottom {
	display:flex;
text-align: center;
	margin-left: -40px;
}
.footer-content{

	text-align: center;
}

p{
	margin:0 4% 0 4%;
}
#gallery {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}
#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
	transition: filter 2s;
}

li{
	list-style-type: none;
}

@media (max-width: 1200px) {
   #gallery {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}
@media (max-width: 1000px) {
   #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}
@media (max-width: 800px) {
   #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
   }
}
@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

@media screen and (max-width:1550px) {
	.main-cake-cupcake img{
		height:500px;
		width:500px;
	}
}

@media screen and (max-width:1492px) {
	.main-cake-cupcake {
		flex-wrap:wrap;
		flex-direction: column;
	}
	.main-cake-cupcake img{
		height:400px;
		width:400px;
	}
}

@media screen and (max-width:500px) {
	.main-cake-cupcake {
		flex-wrap:wrap;
		flex-direction: column;
	
	}
	.main-cake-cupcake img{
		height:400px;
		width:400px;
	}
}
#gallery img:hover {
   filter:none;
}
.main{
	display:flex;
}
.main-cake-cupcake{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right:20px;
	margin-left:20px;
	margin-top:-3.5%;
	font-size:23px;
	
}

.main-cake-cupcake img{
	

}
.main-cakes{
	display:flex;
	flex-direction: column;
	margin-left:20px;
	margin-right:10px;
}
.main-cupcakes{
	display:flex;
	flex-direction: column;
	margin-right:20px;
	margin-left:10px;
}



button{
	display:flex;
	justify-content: center;
	font-family:Tahoma;
	font-size: 25px;
	
}
.main-1{
	display:flex;
	justify-content: center;
	margin-top:3.5%;
	flex-direction: column;
	align-items: center;
	margin-bottom:3.5%;
}

.main-1 p{
	font-size:20px;
}
.price{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:0;
}

.prices h1{
	display:flex;
	justify-content: center;
}

.29 img{
margin-left:5%;
}
.cakes{
	display:flex;
	justify-content: center;
	text-align:left;
	font-family:Tahoma;
	}
.cakes p{
	margin:0;
	margin-bottom:3.5%;
}
.cake-flavours{
	margin-right:3.5%;

}
.cake-fillings{
	margin-left:3.5%;
	margin-right:3.5%;
}



.cupcakes{
	display:flex;
	justify-content: center;
	text-align: left;
	font-family:Tahoma;
	margin-left:120px;
}
.cupcakes p{
	margin:0;
	margin-bottom:3.5%;
}

.prices{
	text-align: center;
}
@media screen and (max-width:500px) {
	.prices {
		flex-wrap:wrap;
		flex-direction:column;
		margin:0;
	}
	.cake-flavours {
		display:flex;
		flex-direction: column;
	}
}
.order-now{
	display:flex;
	justify-content: center;
	margin-top:100px;
	margin-bottom:50px;
}

@media screen and (max-width:1020px) {
	.prices {
		flex-wrap:wrap;
		flex-direction:column;
		margin:0;
	}
	.cake-flavours {
		display:flex;
		flex-direction: column;
	}
	.cupcakes{
		margin-left:0;
	}
}
.order-now{
	display:flex;
	justify-content: center;
	margin-top:100px;
	margin-bottom:50px;
}

@media screen and (max-width:650px) {
	.prices {
		flex-wrap:wrap;
		flex-direction:column;
		margin:0;
	}
	.cakes{
		display:flex;
		flex-wrap:wrap;
		flex-direction: column;
		text-align: center;
	}
	.prices h1{
		margin-top:50px;
	}
	
	.cake-buttercreams{
		margin-top:100px;
	}
	.cake-fillings{
		margin-top:50px;
	}
	.sizes{
		margin-top:200px;
	}
	.cupcakes{
		display:flex;
		flex-wrap:wrap;
		flex-direction: column;
		text-align: center;
	}
	

}




.order-now{
	display:flex;
	justify-content: center;
	margin-top:100px;
	margin-bottom:50px;
}











